@charset "UTF-8";

/*Global Format and Style*/

a,ul, ol, li,form,input,button,h1,h2,h3,h4,h5,h6,p,span,label{
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

a{
	text-decoration: none;
	color: inherit;
}

.clear{
	clear: both;
	height: 0px;
	overflow: hidden;
}

.line-clear{
	clear: both;
	height: 20px;
	overflow: hidden;
}

.capitalText{text-transform: uppercase;}
.noMargin{margin: 0px !important;}

html,body{width: 100%;height: 100%;}

body{
	margin: 0;
	padding: 0;
	line-height: 1em;
	color: #4C4646;
	font-family: dosis;
	font-size: 14px;
	background: #ecf0f1;
}

#page{
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}

nav{
	width: 100%;
	position: fixed;
	height: 50px;
	background: #B51B1B;
	z-index: 1000;
}

section{
	max-width: 1300px;
	margin: 0px auto;
	position: relative;
	/*border: 1px #fff dotted;*/
}

section.top-bar{
	padding: 14px 0px 10px 0px;
	font-family: Hind;
	font-size: 15px;
	color: #fff;
	line-height: 1.5rem;
}

.nav-menu{
	float: right;
}

.nav-menu li{
	display: inline-block;
	*display: inline;
	margin-left: 18px;
	cursor: pointer;
}

.top-bar-date{
	float: left;
	margin-left: 2px;
}

.phone-menu{
	display: none;
}

footer{
	margin-top: 50px;
	width: 100%;
}

#sponsers{
	width: 100%;
	background: #34495e;
	padding: 40px 0px 40px 0px;
}

#sponsers h4{
	color: #fff;
	font-family: Hind;
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.sponser-logo{
	width: 150px;
	margin-left: 50px;
	border: 1px #ccc solid;
	padding: 15px 50px 15px 50px;
	display: inline-block;
}

#footer{
	width: 100%;
	background: #000;
	padding: 20px 0px 20px 0px;
}

#footer h1{
	color: #ecf0f1;
	font-family: Hind;
	float: left;
}

#footer-right-panel{
	float: right;
}

#footer-right-panel .gotoTopButton{
	position: absolute;
	top: 0px;
	right: 0px;
	font-family: dosis;
	font-size: 18px;
	color: #fff;
	background: #B51B1B;
	padding: 10px 25px 10px 25px;
}

#footer-right-panel p{
	color: #fff;
	margin-top: 50px;
	
	font-family: Sourcesans;
	font-size: 16px;
}

#footer-right-panel p a{
	font-weight: bold;
}


