header{
	background: #e74c3c;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 30px;
}

.topHeading{
	float: left;
	font-family: Mos;
	font-size: 24px;
	color: #fff;
	line-height: 1.2em;
	position: relative;
	padding-top: 15px;
}

.side-hmr-logo{
	float: right;
	position: relative;
}

#pageNameBar{
	max-width: 1100px;
	margin: 0px auto;
	background: #2c3e50;
	padding: 20px 25px 20px 25px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
}

#pageNameBar h2{
	color: #fff;
	font-family: Oxygen;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

article{
	background: #fff;
	padding: 50px 0px 50px 0px;
}

.committee-p{
	padding: 0px 0px 0px 120px;
	font-family: dosis;
	font-size: 18px;
	line-height: 1.2em;
	color: #444;
}

.committee-p span{
	font-family: Sourcesans;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	left: -20px;
	color: #000;
}

.call_paper_intro{
	padding: 0px 80px 20px 80px;
	font-family: Sourcesans;
	font-size: 20px;
	line-height: 1.3em;
}

.call_paper_topics{
	padding: 0px 80px 0px 80px;
	font-family: dosis;
	font-size: 20px;
	line-height: 1.3em;
	list-style: inside;
}

.call_paper_topics span{
	font-family: Exo;
	font-size: 24px;
	font-weight: bold;
	line-height: 3em;
}

.program_article{
	padding-top: 0px !important;
}

#day_nav{
	list-style: none;
	font-family: Exo;
	font-size: 20px;
	background: #e74c3c;
	color: #fff;
	padding-left: 80px;
	margin-bottom: 40px;
}

#day_nav li{
	display: inline-block;
	*display: inline;
	padding: 18px;
	margin-left: 70px;
	border-bottom: 5px #e74c3c solid;
	cursor: pointer;
}

#day_nav li:hover{
	border-bottom: 5px #34495e solid;
}

#day_nav li.active{
	border-bottom: 5px #34495e solid;
}

#day_nav li:first-child{
	margin-left: 0px;
}

#day_1, #day_2{
	padding: 10px 80px 40px 80px;
}

.date{
	font-family: Fj;
	font-size: 24px;
	position: relative;
	left: -20px;
	margin-bottom: 35px;
}

.day_table{
	text-align: center;
	border: 2px #2c3e50 solid;
	color: #fff;
	font-family: dosis;
	font-size: 20px;
	padding: 0px;
}

.day_table tr{
	/*background: #34495e;*/
	background: #34495e;	
}

.day_table td{
	margin: 0px;
	padding: 15px;
}

#venue_division{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

#map{
	width: 95%;
	height: 230px;
	border: 3px #34495e solid;
}

.hmr_address{
	font-family: Mos;
	font-size: 24px;
	line-height: 1.5em;
	margin-top: 50px;
}

.about_hmr_head{
	background: #e74c3c;
	margin-top: 50px;
	padding: 30px;
	color: #fff;
	font-size: 26px;
	font-family: UbuntuRegular;
	text-align: center; 
}

.about_hmr{
	max-width: 900px;
	margin: 30px auto;
	position: relative;
}

.about_hmr p{
	font-family: Sourcesans;
	font-size: 20px;
	line-height: 1.5em;
}

.about_hmr ul{
	margin-bottom: 30px;
	font-family: dosis;
	font-size: 18px;
	line-height: 1.5em;
	list-style: inside;
}

.college_pic_holder{
	margin-top: 30px;
	max-width: 100%;
	height: 250px;
	border: 3px #34495e solid;
	background: url(../images/image_6.jpg) no-repeat;
	background-size: cover;
}

#registration_page{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

#registration_page h3{
	font-family: Hind;
	font-size: 26px;
	text-align: center;
	margin-bottom: 50px;
}

#registration_page p{
	font-family: Sourcesans;
	font-size: 24px;
	line-height: 1.2em;
	margin-top: 25px; 
}

#registration_page h4{
	font-family: Exo;
	font-size: 26px;
	margin-top: 30px;
}

#contact_page{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

#contact_page p{
	font-family: Sourcesans;
	font-size: 20px;
	line-height: 1.5em;
}

#contact_page p a{
	font-weight: bold;
}

#contact_page p a:hover{
	color: #e74c3c;
}

footer{
	margin-top: 0px !important;
}

